modules = ["nodejs-20", "web", "postgresql-16"]

[nix]
channel = "stable-25_05"

[workflows]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 22967
externalPort = 3000

[userenv]

[userenv.shared]
VITE_ADSGRAM_BLOCK_ID = "39911"
